/* zodat navbar veolledig aansluit op scherm */
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Poppins", sans-serif;

    /* binnenkomst transition */
    opacity: 0;
    animation: Binnenkomsttransition 0.5s ease forwards;
}

/* achtergrond via aparte class, anders niet fixed voor iphone */

.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Zorgt dat het achter je content blijft */

    background-image: url(../Afbeeldingen/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    /* Tip: Apple apparaten houden van deze regel voor soepele rendering */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

@keyframes Binnenkomsttransition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#navbar-container {
    display: flex;
}

.navbar {
    height: 60px;
    display: flex;
    width: 100%;
    background-color: rgb(45, 62, 108);
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#navbar-titel {
    margin: 10px;
    font-size: 20px;
    color: white;
    position: absolute;
}

.navbar ul {
    z-index: 100;
    margin: auto;
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar ul li a {
    transition: 0.2s;
    color: white;
    text-decoration: none;
    &:hover {
        color: rgb(0, 0, 0);
    }
}

.navbar-active {
    color: rgb(162, 162, 162) !important;
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

#theme-toggle:hover {
    color: black;
    transition: 0.3s;
}

#hamburger-btn {
    display: none;
    width: 50px;
    height: 50px;
}

/* bij kleine schermen, hamburger menu */
@media only screen and (max-width: 800px) {
    .navbar ul {
        pointer-events: none;
        width: 100%;
        opacity: 0; /* Verberg menu op kleinere schermen */
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        background-color: rgba(54, 78, 139, 0.609);
        flex-direction: column;
        gap: 15px;
    }

    #navbar-titel {
        display: none;
    }

    #hamburger-btn {
        display: block; /* Toon de hamburger knop op kleinere schermen */
    }
    .navbar.active ul {
        pointer-events: all;
        transition: 0.3s;
        opacity: 1; /*menu weer tonen op active (hamburger knop)*/
    }
}

h1 {
    font-family: "Poppins" sans-serif;
}

#titeltekst {
    width: fit-content;
    display: block;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

#achtergrondkleurdiv {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.064) 0%,
        rgba(255, 255, 255, 0.371) 15%,
        rgb(75, 77, 100) 100%
    );
    width: 100%;
}

#sorteerknopcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sorteerknop-jaar1,
#sorteerknop-jaar2,
#sorteerknop-alles {
    width: 150px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    background-color: rgba(71, 85, 149, 0.802);
    color: white;
    padding: 20px;
}

#sorteerknop-jaar2 {
    border-bottom-right-radius: 20px;
}
#sorteerknop-alles {
    border-bottom-left-radius: 20px;
}

#sorteerknop-jaar1:hover,
#sorteerknop-jaar2:hover,
#sorteerknop-alles:hover {
    background-color: rgb(53, 67, 119);
}

#projecten-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Project {
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    min-width: 250px;
    max-width: 400px;
    min-height: 450px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.355);
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 20px;
    padding: 20px;
    flex-wrap: wrap;
    &:hover {
        background-color: rgba(255, 255, 255, 0.735);
        transform: scale(1.01);
        opacity: 1;
        transform: translateY(-5px);
    }
}

.Project img {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

#meer-uitleg {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgb(46, 46, 168);
    font-size: large;
}

.button {
    transition: 0.3s;
    margin-top: auto;
    display: block;
    background-color: rgb(77, 104, 212);
    padding: 10px;
    color: white;
    text-decoration: none;
    &:hover {
        background-color: rgb(65, 81, 147);
        transform: scale(1.02);
    }
}

#meer-knop-container {
    margin-top: auto;
    display: flex;
    width: 100%;
    max-height: fit-content;
}

.button-blauw,
.button-grijs {
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    border: none;
    color: white;
}

.button-blauw {
    background-color: rgb(77, 104, 212);
    &:hover {
        background-color: rgb(65, 81, 147);
        transform: scale(1.02);
    }
}

.button-grijs {
    background-color: rgb(113, 113, 113);
    &:hover {
        background-color: rgb(93, 93, 93);
        transform: scale(1.02);
    }
}

.project-beschrijving {
    margin-bottom: 10px;
}

#grijsvlak-projecten {
    background-color: rgba(220, 220, 220, 0);
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
