* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;

    /* binnenkomst transition */
    opacity: 0;
    animation: Binnenkomsttransition 0.5s ease forwards;
}

.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Zorgt dat het achter je content blijft */

    background-image: url(../Afbeeldingen/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    /* Tip: Apple apparaten houden van deze regel voor soepele rendering */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

@keyframes Binnenkomsttransition {
    to {
        opacity: 1;
    }
}

#navbar-container {
    display: flex;
}

.navbar {
    height: 60px;
    display: flex;
    width: 100%;
    background-color: rgb(45, 62, 108);
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#navbar-titel {
    margin: 10px;
    font-size: 20px;
    color: white;
    position: absolute;
}

.navbar ul {
    z-index: 100;
    margin: auto;
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar ul li a {
    transition: 0.2s;
    color: white;
    text-decoration: none;
    &:hover {
        color: rgb(0, 0, 0);
    }
}

.navbar-active {
    color: rgb(162, 162, 162) !important;
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

#theme-toggle:hover {
    color: black;
    transition: 0.3s;
}

#hamburger-btn {
    display: none;
    width: 50px;
    height: 50px;
}

/* bij kleine schermen, hamburger menu */
@media only screen and (max-width: 800px) {
    .navbar ul {
        pointer-events: none;
        width: 100%;
        opacity: 0; /* Verberg menu op kleinere schermen */
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        background-color: rgba(54, 78, 139, 0.609);
        flex-direction: column;
        gap: 15px;
    }

    #navbar-titel {
        display: none;
    }

    #hamburger-btn {
        display: block; /* Toon de hamburger knop op kleinere schermen */
    }
    .navbar.active ul {
        pointer-events: all;
        transition: 0.3s;
        opacity: 1; /*menu weer tonen op active (hamburger knop)*/
    }
}

#achtergrondfade {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.064) 0%,
        rgba(255, 255, 255, 0.377) 50%,
        rgba(235, 235, 235, 0.253) 100%
    );
    padding-bottom: 80px;
}

#boventekst {
    margin: 50px;
    text-align: center;
}

#contact-vlak {
    transition: 0.2s;
    margin: auto;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.235);
    width: 40%;
    height: fit-content;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-width: 500px;
}

/* bij kleine schermen wordt min width kleiner, zodat hij niet te snel te klein is, maar wel bij telefoonschermen */
@media only screen and (max-width: 500px) {
    #contact-vlak {
        min-width: 300px;
    }
}

::placeholder {
    color: rgb(0, 0, 0);
}

#input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.515);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    margin: 10px;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}

textarea {
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    z-index: 999;
    /* hoge z-index zodat dropdown LIs er niet boven komen */
}

.input-groot {
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.515);
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    resize: none;
}

.input:focus,
textarea:focus,
.inputgroot:focus {
    outline: 2px solid rgb(58, 18, 153);
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.845);
}

.dropdown {
    position: relative;
    width: 100%;
}

/* de dropdown knop */
.dropdown .input {
    margin: 10px 0;
    text-align: left;
}

/* net als hamburger menu, dropdown menu standaard niet zichtbaar */

#dropdownMenu {
    opacity: 0;
    max-height: 0px;
    list-style: none;
    transition: 0.4s;
}

#dropdownMenu.visible {
    opacity: 1;
    max-height: 500px;
}

#dropdownMenu li {
    /* lage z index, zodat hij nergens boven komt terwijl hij onzichtbaar is */
    z-index: 0;
    transform: translateY(-5px);
    padding: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.306);
    &:hover {
        background-color: white;
    }
}
/* verstuurknop van form */

#verstuurknop {
    transition: 0.3s;
    border: none;
    width: 100%;
    height: 40px;
    background-color: rgb(82, 88, 190);
    color: white;
    border-radius: 5px;
    z-index: 999; 
    /* z index hoger, anders klikt hij op een onzichtbare dropdown LI */
    &:hover{
    background-color: rgb(45, 46, 112);
    transform: scale(1.02);
    }
}

#tekst-onder-contact-vlak {
    margin-top: 20px;
    text-align: center;
}

#media-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

#instagram,
#gmail,
#linkedin {
    cursor: pointer;
    transition: 0.2s;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.243);
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    width: 150px;
    &:hover {
        background-color: white;
        transform: scale(1.02);
    }
}
